* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #edf2fb;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-card {
    width: 1200px;
    height: 700px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 15px 45px rgba(0,0,0,.12);
}

/* LEFT */

.login-left {
    width: 45%;
    padding: 55px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 65px;
}

.logo h2 {
    color: #4436B8;
    font-size: 28px;
}

.logo p {
    font-size: 13px;
    color: #888;
}

.login-left h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 24px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0 15px;
    font-size: 15px;
    outline: none;
}

.input-group input:focus {
    border-color: #6D4AFF;
}

.password-input {
    position: relative;
}

.password-input svg {
    position: absolute;
    right: 15px;
    top: 16px;
    color: #888;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0 30px;
}

.remember {
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: #555;
}

.forgot {
    background: none;
    border: none;
    color: #6D4AFF;
    cursor: pointer;
    font-size: 14px;
}

.signin-btn {
    width: 100%;
    height: 52px;
    border: none;
    background: #6D4AFF;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.signin-btn:hover {
    background: #5737ea;
}

.copyright {
    margin-top: auto;
    text-align: center;
    color: #999;
    font-size: 12px;
}

/* RIGHT */

.login-right {
    width: 55%;
    background-image:
        linear-gradient(rgba(70,50,150,.35), rgba(70,50,150,.55)),
        url("../assets/mountain.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    text-align: center;
    color: white;
    width: 75%;
}

.overlay h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 18px;
    opacity: .9;
    line-height: 1.7;
}